h2{
    color: skyblue;
    font-style: oblique;
}

.animal{
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    margin: dotted;
    padding: 5mm;
    border-radius: 3mm;
    margin: 0px;
    background-color: #793434;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #0ebec4;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #9a37a1;
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

a:link{
    color: white;
}
a:visited{
    color: white;
}
.animal:hover{
    transform: scale(1.2);
}
.item{
    position: relative;
    
}
.item h3{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
}
.item:hover h3{
    opacity: 1;
}
.item:hover img{
    opacity: 0.35;
}
.animal{
    border: solid;
}